*{
    margin: 0;
    padding: 0;
}
/*ALL BODY*/
body{
    background-color:#fdfdfd;
}
/*MAIN*/
.container-main{
    text-align:center;
    justify-content: center;
    color: #566b2f;
}
/*BANKING SYSTEM TITLE*/
.title1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #008080;
    color: #fdfdfd;
    font-weight: bold;
    font-size: 50px;

}
/*BALANCE*/
.bal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
/*AMOUNT PLACE HOLDER*/
.amnt{
    width: 30vh;
    height: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.3vh;
    text-align: center;
    background-color: #FFA500;
    
}
button{
    padding-inline: 10px;
    margin: 2px;
    border-radius: 5px;
    color: #fdfdfd;
    background-color: #008080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3vh;
}
.container-TH{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 5vh;
    padding-top: 5vh;
    margin-top: 10px;
    background-color: #008080;
    color: #fdfdfd;
    margin-left: 6vh;
    margin-right: 6vh;
    position: relative;
    max-width: 100px, 100px;
}

#history{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3vh;
}


